# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore uploads and virtual environment
uploads/
venv/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
